MsMvc/src/NoChangeParking/Service References/WorldPayGateway/PaymentsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.70.130/WorldPayGateway/PaymentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorldPayGateway" />
  <xs:element name="MakePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorldPayGateway" minOccurs="0" name="paymentDetails" nillable="true" type="q1:PaymentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorldPayGateway" minOccurs="0" name="MakePaymentResult" nillable="true" type="q2:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>